img {
    border-radius: 18px;
    margin: 30px;
    align-self: center;
    grid-column: 2/14;
    grid-row: 4/8;
    width: 80VW;
}
.home{
    display: flex;
    margin: auto;
    margin-top: 5vh;
}
.homeContainer{
    margin-top: 100px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(16, 6vw);
    grid-template-rows: repeat(14, auto);
    margin: auto;
}
.question1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2D9CDB;
    margin-left:15rem;
    width: 380px;
    grid-row: 1/1;
    grid-column: 4/6;
    margin: auto;
    margin-bottom: 20px;
}
.hometitle{
    justify-self: center;
    margin-left:15rem;
    margin: auto;
    width: 550px;
    grid-row: 2/3;
    grid-column: 4;
}
.text2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
    width: 380px;
    grid-column: 4;
    grid-row: 8/9;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text3{
    margin-left:15rem;
    width: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-column: 4;
    grid-row: 10/12;
    margin: auto;
    font-size: 18px;
    margin-bottom: 20px;
}
.question2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin-left:15rem;
    margin-bottom: 10px;
    grid-column: 4;
    grid-row: 12/13;
    margin: auto;
    width: 300px;
    margin-bottom: 10px;
}
.contactform{
    width: 350px;
    height: 57px;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;   
    align-items: center;
    grid-column: 4;
    grid-row: 13;
    border: none;
    grid-column: 4/6;
    margin:auto;
    margin-bottom: 100px;
}
.rectangle32 {
    width: 350px;
    height: 57px;
    left: 277px;
    top: 1208px;
    background: #F2F2F2;
    border-radius: 12px;
    border: none;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3; 
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #BDBDBD;  
    padding: 20px;
}
.rectangle33:hover {
    cursor: pointer;
}
.rectangle33 {
    width: 94px;
    height: 49px;
    left: 529px;
    top: 1212px;
    background: #2D9CDB;
    border-radius: 12px;
    border: none;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F2F2F2;
    margin: 5px;
}

@media screen and (max-width: 1024px){
    .homeContainer{
        display: grid;
        grid-template-columns: repeat(10, 10vw);
        grid-template-rows: repeat(14, auto);
        margin: auto;
    }
    .hometitle{
        font-size: 36px;
        grid-column: 2;
    }
    img {
        width: 90vw;
        margin: 3vw;
        grid-column: 1;
        grid-row: 5/7;
        border-radius: 12px;
    }
    .text2{
        font-size: 36px;
        line-height: 72px;
        grid-column: 2;
        grid-row: 7;
        margin-top: 1vw;
    }
    .text3{
        font-size: 14px;
        grid-column: 2;
        margin-top: 3vw;
    }
    
    .question1 {
        font-size: 14px;
        grid-column: 2;
    }
    
    .question2 {
        font-size: 10px;
        grid-column: 2;
        margin-top: 5vw;
    }
    .contactform{
        grid-column: 2;
        margin-bottom: 5vw;
    }
    
    .rectangle32 {
        width: 350px;
        height: 57px;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 3; 
        font-size: 18px;  
        padding: 20px;
    }
    .rectangle33 {
        width: 71px;
        height: 39px;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;  
        font-size: 18px;
        margin: 5px;
    }
}
@media screen and (max-width: 415px){
    .home{
        display: flex;
        flex-direction: column;
    }
    .homeContainer{
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
    .question1{
        font-size: 12px;
        margin: 0 10vw 2vw 10vw;
    }
    .hometitle{
        width: 80vw;
        font-size: 24px;
        line-height: 32px;
        margin: 0 10vw 0 10vw;
    }
    img {
        width: 85vw;
        margin: 5vw;
        border-radius: 12px;
    }
    .text2{
        font-size: 24px;
        width: 80vw;
        line-height: 32px;
        margin: 0 10vw 5vw 10vw;
    }
    .text3{
        width: 80vw;
        font-size: 12px;
        margin: 0 10vw 0 10vw;
    }
 
    .question2 {
        font-size: 10px;
        margin: 0 10vw 0 10vw;
    }
    .contactform{
        width: 50vw;
        height: 57px;
        display: grid;
        grid-template-columns: 3;
        grid-template-rows: 1;   
        border: none;
        margin: 0 10vw 0 10vw;
    }
    
    .rectangle32 {
        border-radius: 8px;
        padding: 20px;
    }
    .rectangle33 {
        border-radius: 8px;
        margin: 5px;
    }
}
