img {
    /* width: 1332px;
    height: 354px;
    left: 52px;
    top: 420px; */
    border-radius: 18px;
    margin: 30px;
    width: 100%;
    height: auto;
    align-self: center;
}
.home{
    display: flex;
    flex-direction: column;
    margin:  auto;
    margin-top: 100px;
    margin-bottom: 150px;
 /*    border:solid 1px blue; */
}
.hometitle{
   /*  border: solid 2px gray; */
    justify-self: center;
    margin-left:15rem;
    margin-bottom: 50px;
    width: 550px;
}
.text2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
    margin-left:15rem;
    width: 380px;
 /*    border:solid 1px gray; */
}
.text3{
    margin-left:15rem;
    width: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
   /*  border:solid 1px gray; */
}

.question1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2D9CDB;
    margin-left:15rem;
    width: 380px;
   /*  border:solid 1px gray; */
}

.question2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin-left:15rem;

}
.contactform{
    width: 350px;
    height: 57px;
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;   
    align-items: center;
    grid-column-start: 6;
    grid-column-end:19;
    grid-row-start: 7;
    margin-left:15rem;
    border: none;
}

.rectangle32 {
    width: 350px;
    height: 57px;
    left: 277px;
    top: 1208px;
    background: #F2F2F2;
    border-radius: 12px;
    border: none;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3; 
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #BDBDBD;  
}
.rectangle33:hover {
    cursor: pointer;
}

.rectangle33 {
    width: 94px;
    height: 49px;
    left: 529px;
    top: 1212px;
    background: #2D9CDB;
    border-radius: 12px;
    border: none;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 3;  
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #F2F2F2;
}

@media screen and (max-width: 1024px){
    .hometitle{
        justify-self: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
    }
    .text2{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 72px;
        color: #333333;
        border:solid 1px gray;
    }
    .text3{
        border:solid 1px gray;
    }
    
    .question1 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #2D9CDB;
        border:solid 1px gray;
    }
    
    .question2 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #828282;
    
    }
}