@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
}
p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}

.header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.brand{
  font-family: 'Heebo', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
}


.offer{
    width: 346px;
    height: 108px;
    left: 165px;
    top: 1465px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
}
.startbutton{
    width: 116px;
    height: 42px;
    left: 198px;
    top: 1949px;
    background: #E0E0E0;
    border-radius: 12px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}