@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

body{
  margin: 30px;
  
}
h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #333333;
}
p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #4F4F4F;
}
.navbar{
    margin: 20px;
}
.container{
    margin: 30px;
}

.header{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.brand{
  font-family: 'Heebo', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
}


/* a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    
} */

.title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 20px;
}
.content {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 35px;
}


.work {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
}
.designs{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(30, 50px);
}
.typeproduct{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
}
.product{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.smarthome, .onboard, .booking, .juice{
    width: 545px;
    height: 545px;
    border-radius: 24px;
}
.design1{
    /* display: flex;
    justify-content: center; */
    width: 545px;
    height: 545px;
    border-radius: 24px;
    grid-row-start: 4;
    grid-column-start: 1;
}
.design2{
    width: 545px;
    height: 545px;
    border-radius: 24px;
    grid-row-start: 1;
    grid-column-start: 2;
}
.design3{
    width: 545px;
    height: 545px;
    border-radius: 24px;
    grid-row-start: 18;
    grid-column-start: 1;
}
.design4{
    width: 545px;
    height: 545px;
    border-radius: 24px;
    grid-row-start: 15;
    grid-column-start: 2;
}
.container1{
    border: solid;
    display: flex;
    justify-content:flex-end ;
    grid-row-start: 29;
    grid-column-start: 2;
}
.more{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2D9CDB;
    
}
.offer{
    width: 346px;
    height: 108px;
    left: 165px;
    top: 1465px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
}

.startbutton{
    width: 116px;
    height: 42px;
    left: 198px;
    top: 1949px;
    background: #E0E0E0;
    border-radius: 12px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
}
.footer {
    background-color: #100E1D;
}
.credits{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F2F2F2;
    text-align: center;
}

.material-icons{
 
    /* background-color: #2D9CDB; */
    color: #2D9CDB ;
    outline: #2D9CDB;
    background-color: #2D9CDB;
}