@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Montserrat&family=Poppins&display=swap');

.navbar{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
 /*    box-shadow: 1px 1px 1px #888888; */
}
nav{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.navitems:hover{
    color: #2D9CDB;
    cursor: pointer;
}
.navitems{
    margin: 20px;
    padding: 20px;
}
.header{
    margin-top: 10px;
}
.brand{
    margin-left: 20px;
    align-self: flex-start;
}
.developer{
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
}
.dropdown{
    display: none;
}
.hamburguer{
    width: 30px;
    height: 3px;
    background: transparent;
    margin: 5px;
}
@media screen and (max-width: 400px){
    .navbar{
        
    }
    .dropdown{
        display:contents;
    }
    nav{
        font-size: 18px;
    }
    .navitems{
        margin: 5px;
       /*  padding: 5px; */
    }
    .developer{
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px){
    .navbar{

    }
    .dropdown{
        display: none;
    }
    nav{
        font-size: 18px;
    }
    .navitems{
        margin: 5px;
       /*  padding: 5px; */
    }
    .developer{
        font-size: 30px;
    }
}