.ourwork{
    display: flex;
    flex-direction: column;
}
.ourworksContainer{
    display: grid;
    grid-template-columns: repeat(16, 6vw);
    grid-template-rows: repeat(18, 6vw);
    margin: auto;
}
.work {
    font-size: 36px;
    line-height: 54px;
    width: 400px;
    grid-row: 1;
    grid-column: 3;
}
.typeproduct{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #828282;
    margin-left: 30px;
}
.product{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    margin-left: 30px;
}
.smarthome, .onboard, .booking, .juice{
    width: 100%;
    height: auto;
    border-radius: 24px;
    transition: box-shadow .3s;
}
.smarthome:hover{
    box-shadow: 5px 10px 18px #888888;
}
.onboard:hover{
    box-shadow: 5px 10px 18px #888888;
}
.booking:hover{
    box-shadow: 5px 10px 18px #888888;
}
.juice:hover{
    box-shadow: 5px 10px 18px #888888;
}
.design1{
    grid-row: 4;
    grid-column: 2/8;
    margin: auto;
    flex-direction: column;
}
.design1 img{
    width: 30vw;
}
.design2{
    grid-row: 2;
    grid-column: 9/16;
    margin: auto;
}
.design2 img{
    width: 30vw;
}
.design3{
    grid-row: 12;
    grid-column: 2/8;
    margin: auto;
}
.design3 img{
    width: 30vw;
}
.design4{
    grid-row: 10;
    grid-column: 9/16;
    margin: auto;
}
.design4 img{
    width: 30vw;
}
.container2{
    grid-row: 18;
    grid-column: 13/15;
    margin: auto;
}
.more{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2D9CDB;
}
span svg{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}
.more:hover{
    cursor: pointer;
}


@media screen and (max-width: 1024px){
    .ourwork{
        margin-top: 100px;
    }
    .ourworksContainer{
        display: grid;
        grid-template-columns: repeat(10, 10vw);
        grid-template-rows: repeat(13, 10vw);
        margin: auto;
    }
    .work {
        font-size: 36px;
        grid-row: 1;
        grid-column: 2;
        margin: auto;
        margin-bottom: 70px;
    }
    .typeproduct{
        font-size: 14px;
    }
    .product{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
        margin-left: 30px;
    }
    .design1{
        grid-row: 3/8;
        grid-column: 2;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-self: center;
    }
    .design1 img{
        width: 30vw;
    }
    .design2{
        grid-row: 2;
        grid-column: 6/10;
        margin: auto;
    }
    .design2 img{
        width: 30vw;
    }
    .design3{
        grid-row: 8/13;
        grid-column: 2;
        margin: auto;
    }
    .design3 img{
        width: 30vw;
    }
    .design4{
        grid-row: 7/12;
        grid-column: 6/10;
        margin: auto;
    }
    .design4 img{
        width: 30vw;
    }
    .container2{
        margin-top: 30px;
        grid-row: 13;
        grid-column: 8/10;
    }
    .more{
        grid-row: 14;
        grid-column: 6;
    }
    span svg{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 414px){
    .ourwork{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
        align-items: center; 
    }
    .ourworksContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
    .work {
        font-size: 24px;
        line-height: 34px;
        margin-left: 10vw;
        margin-bottom: 50px;
        width: 80vw;
    }
    .typeproduct{
        font-weight: 300;
        font-size: 14px;
        margin: auto;
    }
    .product{
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
        margin: auto;
        text-align: justify;
    }
    .design1{
        margin: 10px;
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    .design1 img{
        width: 75vw;
        margin: auto;
    }
    .design2{
        margin: 10px;
        margin-top: 40px;
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    .design2 img{
        width: 75vw;
        margin: auto;
    }
    .design3{
        margin: 10px;
        margin-top: 40px;
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    .design3 img{
        width: 75vw;
        margin: auto;
    }
    .design4{
        margin: 10px;
        margin-top: 40px;
        width: 80vw;
        display: flex;
        flex-direction: column;
    }
    .design4 img{
        width: 75vw;
        margin: auto;
    }
    .more{
        font-size: 24px;
        margin-top: 40px;
    }
    span svg{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
    }
}